<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Ticket system - Varhoo</title>
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/media/css/basic.css" />
<script type="text/javascript" src="http://code.varhoo.cz/jquery/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/media/js/basic.js"></script>
</head>
<body>
<div id="page">
<h1>Stránka neexistuje (E404)</h1>
<p>Stránka nebyla nalazena, pravděpodobně jste zadali špatnou url.</p>
</div>
</body>
</html>
